.selected{
    background-color: rgb(44, 44, 194);
}

.container{
    width: 500px;
    margin:  5rem auto;
    background: beige;
    box-shadow: 5px 5px 5px white;
    display: flex;
    gap: 0.5rem;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}